body{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    background-color: #f7f8fb;
}
.btn{
    padding :0% 2%;
}

.darkMode{
    background-color: black;
    color: antiquewhite;
}

/* bloc regroupant tout les elements de l'entete */


img{
    width: 200px;
}
header{
    padding: 3px;
    display: flex;
    justify-content:space-between;
}
header p {
    font-size: 0.8em;
}
.ent{
    display : flex;
    align-items: center;
    gap: 40px;
}
nav{
    display: inline-block;
}
.lien{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.lien:hover{
    font-weight: 300;
    /* text-decoration-style: dotted; */
    border-bottom: #0557aa 2px solid;
}

.bouton{
    display: block;
    color: #0557aa;
    width: 170px;
    height: 40px;
    border-radius: 0px 15px 15px 15px;
    border :#0557aa 1px solid ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.bouton::after{
    content: "";
    display: block;
    background-color: #0557aa;
    width: 170px;
    height: 40px;
    border-radius: 0px 15px 15px 15px;
    border :#0557aa 1px solid ;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate(-200px);
    transition: transform 200ms;
}
.bouton:hover::after{
    transform: translate(0);
}
.bouton:hover{
    color: white;
}
.fa-arrow-right-long{
    padding-left:15px;
    font-size:20px;
    display: none !important ;
}
.bouton:hover .fa-arrow-right-long{
    display: block !important;
}


/* partie footer */
footer{
    background-color: #01162c;
    color: white;
    padding: 100px 0px;
}
.info img{
    width: 50%;
}
footer .all{
    display: flex;
    gap: 30px;
    width: 80%;
    margin: auto;
    
}
.foot{
    width: 50%;
}
.liens{
    padding-left: 150px;
}
.liens a{
    text-decoration: none;
    color: white;
}
.foot h2{
    color: #0557aa;
    font-weight: 800;
}

/* responsive design */

@media screen and (max-width:600px) {
    img{
        width: 150px;
    }
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    header p {
        font-size: 0.6em;
    }
    nav a{
        font-size: 0.8em;
    }
    nav{
        padding-bottom: 20px;
    }
    .bouton{
        width: 120px;
        height: 40px;
        border-radius: 0px 15px 15px 15px;
    }
    .chap1{
        width: 90%;
        margin-left: 8%;
        margin-top:5%;
    }
    .chap1 h1{
        font-size: 2.5em;
        padding-bottom: 2%;
    }
    .chap1 p{
        font-size: 1.3em;
        width: 90%;
        margin-top : 10%;
    }
    .chap1 a{
        font-size: 0.5em;
        padding : 1% 0%;
        margin-top : 10%;
        margin: auto;
    }
    .partie1{
        background-size:0px;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .responsive{
        background-image: url(images/img_util/background1.png);
        height: 420px;
        background-size:150%;
        background-position: right;
    }
    .point1{
        font-size: 0.7em;
    }
    
    /* partie footer */
    footer{
        background-color: #01162c;
        background-image: url(icone-logo.png);
        background-repeat: repeat;
        color: white;
        padding: 50px 0px;
    }
    .info img{
        width: 40%;
    }
    footer .all{
        flex-direction: column;
        gap: 30px;
        width: 80%;
        margin: auto;
        
    }
    .foot{
        width: 100%;
    }
    .liens{
        padding-left: 0px;
    }
    .liens a{
        text-decoration: none;
        color: white;
    }
    .foot h2{
        color: #0557aa;
        font-weight: 800;
    }
}

@media screen and (min-width:600px) and  (max-width:1200px) {
    img{
        width: 150px;
    }
   
    header p {
        font-size: 0.6em;
    }
    nav a{
        font-size: 0.8em;
    }
    nav{
        padding-bottom: 20px;
    }
    .bouton{
        width: 120px;
        height: 40px;
        border-radius: 0px 15px 15px 15px;
    }
    .chap1{
        width: 45%;
        margin-left: 8%;
        margin-top:5%;
    }
    .chap1 h1{
        font-size: 2.5em;
        padding-bottom: 2%;
    }
    .chap1 p{
        font-size: 1.3em;
        width: 90%;
        margin-top : 10%;
    }
    .chap1 a{
        font-size: 0.5em;
        padding : 1% 0%;
        margin-top : 10%;
        margin: auto;
    }
    .partie1{
        background-size:contain;
        background-repeat: no-repeat;
        background-position:120px;
    }
    .point1{
        font-size: 0.7em;
    }
    
    .equipe h1{
        font-size: 2em;
    }
    /* partie footer */
    .info img{
        width: 40%;
    }
    @media screen and (max-width:500px){
        .foot{
            width: 100% !important;
        }
        .info img{
            width: 50%;
        }
    }
}

