main{
    background-color: #01162caf;
    /* background-image: url(images/img_util/background2.png); */
    
    padding-bottom: 1px;
}
.parti1{
    background-image: url(images/img_util/background2.png);
    /* background-color: #01162caf; */
}

.corps{
    width: 55%;
    margin: auto;
    background-color: rgb(249, 248, 246);
    padding: 40px;
}
.imgActivite{
    float:inline-start ;
    padding: 0px 30px 10px 0px;
    width: 50%;
    
}