body{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    background-color: #f7f8fb;
}
.btn{
    padding :0% 2%;
}


/* bloc regroupant tout les elements de l'entete */

.partie1{
    background-image: url(images/img_util/background1.png);
    background-size:85%;
    background-repeat: no-repeat;
    background-position: 10cm;
    padding-bottom: 10%;  
}
img{
    width: 200px;
}
header{
    padding: 3px;
    display: flex;
    justify-content:space-between;
}
header p {
    font-size: 0.8em;
}
.ent{
    display : flex;
    align-items: center;
    gap: 40px;
}
nav{
    display: inline-block;
}
.lien{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.lien:hover{
    font-weight: 300;
    /* text-decoration-style: dotted; */
    border-bottom: #0557aa 2px solid;
}
.bouton{
    display: block;
    color: white;
    background-color: #0557aa;
    width: 170px;
    height: 40px;
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 10px;
    padding: 0px 10px;
}
.chap1{
    width: 38%;
    margin-left: 8%;
    margin-top:5%;
}
.chap1 h1{
    font-size: 3.5em;
    padding-bottom: 2%;
}
strong{
    color: #0557aa;
}
.chap1 p{
    font-size: 1.5em;
    width: 80%;
    margin-top : 10%;
}
.chap1 .bouton{
    font-size: 0.5em;
    padding : 1% 2%;
    margin-top : 10%;
}

/* bloc regroupant les statitistiques */
/* statitiques des différentes couches touché par nos interventions */
.statistique{
    background: linear-gradient(135deg, #f7fbff, #ffffff);
    box-shadow: 00px 0px 20px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    padding: 10px;
}
.stat h1{
    color: #0557aa;
}
.stat p{
    color: rgb(0, 0, 0);
}

/* bloc regroupant les élement de la section à propos */

.about {
    width: 80%;
    margin: auto;
    margin: top;
}
.about_title1{
    font-size: 3.5em;
    text-align: center;
    margin: 0px;
}
.about_title1 + p {
    text-align: center;
    padding-bottom: 40px;
}
.nos_activites {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap : 10px;
}
.boite{
    width: 250px;
    background-color: #ffffff;
    padding :  10px 25px;
    border-radius: 0px 40px 0px 40px;
    margin : 25px 0px;
    box-shadow: rgb(130, 129, 129) 0px 4px 15px;
    /* effet transition */
    transition-property: transform;
    transition-duration: 0,1sec;
}
.boite:hover{
    box-shadow: #01162c 5px 10px 20px;
}
a:hover{
    transform: scale(0.9);
}
.boite h2{
    font-size: 1em;
    text-align: center;
    margin-bottom: 0px;
}
.boite p{
    font-size: 0.9em;
    text-align: center;
    padding:10% 0%;
}
.icone .img{
    margin: auto;
}
main{
    background-image: url(images/img_util/background2.png);
}


/* bloc regroupant les élement de la section Impact de nos actions */


.impact{
    margin: 100px 0px;
}
.impact__bloc{
    gap: 40px;
    width: 80%;
    margin: auto;
}

.impact__bloc-text h1{
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding-bottom: 40px;
    
}

.img_impact img{
    width: 100%;
}
.impact__bloc-text h3{
    font-size: 1.2em;
}
.impact__bloc-text .txt{
    font-size: 1.2em;
    width: 90%;
}

/* partie réalisation des projets */
.sec{
    width: 80%;
    margin: auto;
}
.real__titre{
    font-size: 4em;
    text-align: center;
    margin: 0px;
}
.real__para{
    text-align: center;
    font-size: 1.1em;
}
.promenade{
    background-image: url(imageProjet.png);
}
.distri{
    background-image: url(imageProjet.png);
   
}
.incendi{
    background-image: url(imageProjet.png);
}
.mod{
    border-radius: 40px;
    min-height: 550px;
    background-size: cover;
    background-position: center;
    margin: 50px;
    padding: 20px;
}
.real_text{
    color: white;
    margin-top: 20%;
}
.real_text h2{
    font-size: 2.5em;
}


/* notre équipe */
.sec .equipe{
    text-align: center; 
    padding-bottom: 150px;
    margin-top:100px ;
}
.partiequipe{
    display: flex;
    gap: 20px;
}
.equipe1{
    background-image: url(images/equipe/PHOTO-2023-07-27-08-31-10.jpg);
}
.equipe2{
    background-image: url(images/equipe/PHOTO-2024-08-07-07-58-45.jpg);
}
.equipe3{
    background-image: url(images/equipe/PHOTO-2025-07-27-09-32-01.jpg);
}
.equipe4{
    background-image: url(images/equipe/PHOTO-2025-07-28-10-34-43\ 2.jpg);
}
.pht{
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 50% 50%;
    border: #ffff solid 10px;
}
.blocequipe .nom,.fonction{
    margin : 0px;
    padding : 0px;
}
.equipe h1{
    margin-top : 0px ;
    font-size: 3em;
}
.point1{
    color: #0557aa;
    font-weight: 700;
    margin: 0px;
    text-align: center;
    font-size: 1.2em;
}
.jus{
    text-align: left;
}

/* partie footer */
footer{
    background-color: #01162c;
    color: white;
    padding: 100px 0px;
}
.info img{
    width: 30%;
}
footer .all{
    display: flex;
    gap: 30px;
    width: 80%;
    margin: auto;
    
}
.foot{
    width: 50%;
}
.liens{
    padding-left: 150px;
}
.liens a{
    text-decoration: none;
    color: white;
}
.foot h2{
    color: #0557aa;
    font-weight: 800;
}

/* responsive design */

@media screen and (max-width:600px) {
    img{
        width: 150px;
    }
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    header p {
        font-size: 0.6em;
    }
    nav a{
        font-size: 0.8em;
    }
    nav{
        padding-bottom: 20px;
    }
    .bouton{
        width: 120px;
        height: 40px;
        border-radius: 0px 15px 15px 15px;
    }
    .chap1{
        width: 90%;
        margin-left: 8%;
        margin-top:5%;
    }
    .chap1 h1{
        font-size: 2.5em;
        padding-bottom: 2%;
    }
    .chap1 p{
        font-size: 1.3em;
        width: 90%;
        margin-top : 10%;
    }
    .chap1 a{
        font-size: 0.5em;
        padding : 1% 0%;
        margin-top : 10%;
        margin: auto;
    }
    .partie1{
        background-size:0px;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .responsive{
        background-image: url(images/img_util/background1.png);
        height: 420px;
        background-size:150%;
        background-position: right;
    }
    .point1{
        font-size: 0.7em;
    }

    /* partie à propos */
    
    /* partie impact */
    .impact__bloc{
        flex-direction: column-reverse;
        gap: 40px;
        
    }
    .impact__bloc-text{
        width: 100%;
    }
    .jus{
        text-align: center;
    }
    .impact__bloc-text h1{
        font-size: 2.5em;
    }
    .impact__bloc-image{
        width: 450px;
        margin: auto;
        
    }
    /* .image1{
        width: 400px ;
        height: 400px;
    }
    .image2{
        left: 50px;
        bottom: 10px;
    }
    .image3{
        width: 150px ;
        height: 150px;
        right: -10px;
        top: 170px;   
    } */
    /* parties réalialisation */
    .real__titre{
        font-size: 2.5em;
    }
    .real__para{
        margin-bottom: 50px;
    }
    .real__projet{
        flex-direction: column;
        gap : 50px
    }
    .reali{
        width: 350px;
        margin: 0;
        margin: auto;
    }
    .rubrique .score{
        font-size: 1.3em;
    }
    .text h2{
        font-size: 1.2em;
    }
    .consulte p{
        font-size: 0.7em;
    }
   /* partie équipe */
    .partiequipe{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .pht{
        width: 340px;
        height: 340px;
    }
    .equipe h1{
        font-size: 2em;
    }
    /* partie footer */
    footer{
        background-color: #01162c;
        color: white;
        padding: 50px 0px;
    }
    .info img{
        width: 40%;
    }
    footer .all{
        flex-direction: column;
        gap: 30px;
        width: 80%;
        margin: auto;
        
    }
    .foot{
        width: 100%;
    }
    .liens{
        padding-left: 0px;
    }
    .liens a{
        text-decoration: none;
        color: white;
    }
    .foot h2{
        color: #0557aa;
        font-weight: 800;
    }
}

@media screen and (min-width:600px) and  (max-width:1200px) {
    img{
        width: 150px;
    }
   
    header p {
        font-size: 0.6em;
    }
    nav a{
        font-size: 0.8em;
    }
    nav{
        padding-bottom: 20px;
    }
    .bouton{
        width: 120px;
        height: 40px;
        border-radius: 0px 15px 15px 15px;
    }
    .chap1{
        width: 45%;
        margin-left: 8%;
        margin-top:5%;
    }
    .chap1 h1{
        font-size: 2.5em;
        padding-bottom: 2%;
    }
    .chap1 p{
        font-size: 1.3em;
        width: 90%;
        margin-top : 10%;
    }
    .chap1 a{
        font-size: 0.5em;
        padding : 1% 0%;
        margin-top : 10%;
        margin: auto;
    }
    .partie1{
        background-size:contain;
        background-repeat: no-repeat;
        background-position:120px;
    }
    .point1{
        font-size: 0.7em;
    }


    /* partie à propos */
   

    /* partie impact */
    .impact__bloc{
        flex-direction: column-reverse;
        gap: 40px;
        
    }
    .impact__bloc-text{
        width: 100%;
    }
    .jus{
        text-align: center;
    }
    .impact__bloc-text h1{
        font-size: 2.5em;
    }
    /* .impact__bloc-image{
        width: 450px;
        margin: auto;
        
    }
    .image1{
        width: 400px ;
        height: 400px;
    }
    .image2{
        left: 50px;
        bottom: 10px;
    }
    .image3{
        width: 150px ;
        height: 150px;
        right: -10px;
        top: 170px;   
    } */
    /* parties réalialisation */
    .real__titre{
        font-size: 2.5em;
    }
    .real__para{
        margin-bottom: 50px;
    }
    .real__projet{
        flex-wrap: wrap;
        gap : 50px
    }
    .reali{
        width: 350px;
        margin: 0;
        margin: auto;
    }
    .rubrique .score{
        font-size: 1.3em;
    }
    .text h2{
        font-size: 1.2em;
    }
    .consulte p{
        font-size: 0.7em;
    }
   /* partie équipe */
    .partiequipe{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .pht{
        width: 340px;
        height: 340px;
    }
    .equipe h1{
        font-size: 2em;
    }
    /* partie footer */
    .info img{
        width: 40%;
    }
}

