body{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    background-color: #f7f8fb;
}
.fa-house{
    width: 200px;
    
}


/* bloc regroupant tout les elements de l'entete */

.partie1{
    background-image: url(images/img_util/background3.png);
    background-repeat: no-repeat;
    background-position: top right;
    
    position: relative;
    z-index: 1;
    height: 100vh;
}
img{
    width: 200px;
}
header{
    padding: 0px 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
header p {
    font-size: 0.8em;
}
.ent{
    display : flex;
    align-items: center;
    gap: 40px;
}
nav{
    display: inline-block;
}
.lien{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.lien:hover{
    font-weight: 300;
    /* text-decoration-style: dotted; */
    border-bottom: #0557aa 2px solid;
}
.bouton{
    display: block;
    color: #0557aa;
    width: 170px;
    height: 40px;
    border-radius: 0px 15px 15px 15px;
    border :#0557aa 1px solid ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.bouton::after{
    content: "";
    display: block;
    background-color: #0557aa;
    width: 170px;
    height: 40px;
    border-radius: 0px 15px 15px 15px;
    border :#0557aa 1px solid ;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate(-200px);
    transition: transform 200ms;
}
.bouton:hover::after{
    transform: translate(0);
}
.bouton:hover{
    color: white;
}
.fa-arrow-right-long{
    padding-left:15px;
    font-size:20px;
    display: none !important ;
}
.bouton:hover .fa-arrow-right-long{
    display: block !important;
}

.chap1{
    width: 38%;
    margin-left: 8%;
    margin-top:10%;
}
.chap1 h1{
    font-size: 3.5em;
    padding-bottom: 2%;
}
strong{
    color: #0557aa;
}
.chap1 p{
    font-size: 1.5em;
    width: 80%;
    margin-top : 10%;
}
.chap1 .bouton{
    font-size: 0.5em;
    margin-top : 10%;
}

/* ========================================================= 
responsive PARTIE 1*/
@media screen and (max-width:1350px){
    header{
        background-color: rgba(255, 255, 255, 0.434);   
    }
    .chap1 h1{
        font-size: 2.5em;
    }
    .partie1{
        background-position:50% ;
    }
    .chap1{
        width: 50%;
    }
}
@media screen and (max-width:500px) {
    header{
        flex-direction: column;
    }
    header .bouton{
        margin: 40px;
    }
    .partie1{
        background-color: #0558aa56 ;
        background-position: 40%;
    }
    .chap1{
        width: 80%;
        text-align: center;
    }
    .chap1 h1{
        font-size: 2.2em;
        padding: 30px 0px;
    }
    .chap1 p{
        width: 100%;
        margin: 50px 0px;
    }
    .chap1 .bouton{
        margin: auto;
    }
}

/* ============================================================= */
/* statitiques des différentes couches touché par nos interventions */

.statistique{
    background: linear-gradient(135deg, #f7fbff, #ffffff);
    box-shadow: 00px 0px 20px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    padding: 10px;
}
.stat h1{
    color: #0557aa;
}
.stat p{
    color: rgb(0, 0, 0);
}
@media screen and (max-width:1350px){
    .statistique{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stat{
        
    }
    .stat h1{
        font-size: 1.2em;
    }
}

/* ======================================================== */
/* bloc regroupant les élement de la section à propos */

.about {
    width: 80%;
    margin: auto;
    margin: top;
    padding-top: 50px;
}
/* stype de titre de section */
.point1{
    color: #0557aa;
    font-weight: 700;
    margin: 0px;
    font-size: 1.2em;
}
.point1 span{
    padding-bottom: 5px;
    border-bottom: #0557aa 4px solid;
}
.about_title1{
    font-size: 2.5em;
}
.about_title1 + p {
    padding-bottom: 0px;
}
.nos_activites {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 10px;
}
.boite{
    width: 310px;
    border-radius: 0px 40px 0px 10px;
    margin : 25px 0px;
    box-shadow: rgb(130, 129, 129) 0px 4px 15px;
    transform: scale(1);
    /* effet transition */
    transition : transform 300ms;
}
.boite:hover{
    transform: scale(1.07);
}
.texte_explicatif{
    padding: 19px;
}
.icone{
    border-radius: 0px 40px 0px 0px;
    height: 230px;
    position: relative;
}
.pour_education{
    background-image: url(images/imageSecteur/education1.jpg);
    background-size: cover;
}
.pour_promotion{
    background-image: url(images/imageSecteur/automatisation.jpg);
    background-size: cover;
}
.pour_urgence{
    background-image: url(images/imageSecteur/urgence.jpg);
    background-size: cover;
}
.pour_plaidoyer{
    background-image: url(images/imageSecteur/plaidoyer.jpg);
    background-size: cover;
}
.img{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 70px;
    color: #26588e;
}
.info{
    margin-bottom: 20px;
    margin-left:19px
}
.info a {
    text-decoration: none;
    color:#0557aa;
    padding: 5px;
}
main{
    background-image: url(images/img_util/background2.png);
}

/* ================================================================ */
/* bloc regroupant les élement de la section Impact de nos actions */

.impact{
    margin: 100px 0px;
}
.impact__bloc{
    width: 80%;
    margin: auto;
}

.img_impact img{
    width: 100%;
}
.impact__bloc-contenue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteneur_impact{
    width: 60%;
}
.img_impact{
    width: 70%;
    margin-left: 30%;
}
.impact_text{
    background-color: #f7f8fb;
    border: #ffffff solid 10px;
    border-radius: 5px;
    padding: 30px;
}
@media screen and (max-width:1350px){
   
}
.impact__bloc-text .txt{
    font-size: 1.2em;
    width: 90%;
}
@media screen and (max-width : 500px){
    .conteneur_impact{
        width: 90%;
    }
    .img_impact{
        width: 100%;
        margin-left: 10%;
    }
}

/* Programme phares mise en oeuvre par AFADi   */

.programmes{
    margin: auto;
    padding: 30px 0px 150px 0px;
    width: 80%;
}

.titre h1{
    font-size: 2.5em;
}
.nos-programmes{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.conteneur-programmes{
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px black;
    transition: transform 300ms;
}
.conteneur-programmes:hover{
    transform: translateY(10px);
}
.conteneur-programmes:hover h3{
    background-color: rgb(255, 255, 255) !important;
    transform: rotateY(360deg);
    color: #0557aa;
}
.img-programme{
    background-image: url(imageProjet.png);
    background-size: cover;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}
.img-programme h3{
    background-color:#01162c;
    color: white;
    border-radius: 30px;
    padding: 8px;
    font-size: 1em;
    width: 170px;
    transition: background-color 500ms, transform 200ms;
}
.description-pgrm{
    padding: 19px;
    height: 110px;
}
.pgrm-visite{
    width: 120px !important;
    background-color: #0557aa !important;
}
.pgrm-credit{
    width: 235px !important;
    background-color: #000000 !important;
}
.pgrm-fourniture{
    width: 200px !important;
    background-color:#13312d !important;
}





/* partie réalisation des projets */
.sec{
    width: 80%;
    margin: auto;
}
.real__titre{
    font-size: 4em;
    text-align: center;
    margin: 0px;
}
.real__para{
    text-align: center;
    font-size: 1.1em;
}
.promenade{
    background-image: url(imageProjet);
}
.distri{
    background-image: url(imageProjet.png);
   
}
.incendi{
    background-image: url(imageProjet.pn);
}
.mod{
    border-radius: 40px;
    min-height: 550px;
    background-size: cover;
    background-position: center;
    margin: 50px;
    padding: 20px;
}
.real_text{
    color: white;
    margin-top: 20%;
}
.real_text h2{
    font-size: 2.5em;
}

/* =================================================================== */
/* parties qui concerne nos actions dans différentes domaines */

.action{
    background-color:#0557aa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.conteneur_domaine{
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #ffffffed;
    padding: 50px 0px;
    border-radius: 10px;  
}
@media screen and (max-width:1500px){
    .conteneur_domaine{
        flex-direction: column;
        align-items: center;
    }
}
.titre_domaine{
    background-color: #0558aa24;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}
@media screen and (max-width:1500px){
    .titre_domaine{
        width: 80%;
        display: block;
        
    }
}
.contenu_domaine{
    width: 60%;
    display: flex;
    background-color:#0558aa18;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
}
@media screen and (max-width:1500px){
    .contenu_domaine{
        flex-wrap: wrap;
    }
}
.images{
    width: 300px;
    
}
.images img{
    width: 300px;
    height: 100%;
    border-radius: 10px;
}
@media screen and (max-width:1500px){
    .contenu_domaine{
        width: 77%;
    }
}
.dom{
    background-color:#0558aa;
    box-shadow: 0px 4px 5px black;
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight: bolder;
    color: antiquewhite;
    transition: transform 200ms;
}
@media screen and (max-width:1500px){
    .onglet{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .dom{
        width: 180px;
    }
    .titre_domaine h2{
        margin-left: 20px ;
    }
}
.dom:hover{
    background-color: white;
    color: #0557aa;
}
.dom:focus{
    background-color: white;
    color: #0557aa;
    transform: scale(1.8);
}
@media screen and (max-width:500px){
    .onglet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .dom{
        font-size: 0.8em;
        width: 100%;
    }
    .images img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

/* partie footer */


footer{
    background-color: #01162c;
    background-image: url(icone-logo.png);
    background-repeat: repeat;
    color: white;
    padding: 100px 0px;
}
.info img{
    width: 30%;
}
footer .all{
    display: flex;
    gap: 30px;
    width: 80%;
    margin: auto;
    
}
@media screen and (max-width:1500px){
    footer .all{
        flex-wrap: wrap;
    }
}
.foot{
    width: 50%;
    
}

.liens a{
    text-decoration: none;
    color: white;
}
.foot h2{
    color: #0557aa;
    font-weight: 800;
}
@media screen and (max-width:500px){
    .foot{
        width: 100% !important;
    }
    .info img{
        width: 50%;
    }
}


